*{
margin: 0;
}
header{
    padding: 10px 5%;
    background-color:#B7DCD7 ;
}
header>*{
    display: inline-block;
    width: 450px;
}
.peppa{width:10%}
header a{ 
    text-decoration: none;
    color: black;
    background-color:#588F88 ;
    margin:  10px;

}
.jorj{
    width: 40px;
    height: auto;
}
.sally{
    display: flex;
    justify-content:center;
}
#price{
    margin: 20px;
}